@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body, html{
    height: 100vh;
    width: 100vw;
}

div#pagina{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(112, 112, 112);
    padding: 20px;
    text-align: center;
    background-color: #00b925;
    color: #e4840f;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.692);
    font-size: 2.5em;
    font-weight: bolder;
    margin-bottom: 15px;
}

header > button{
    cursor: pointer;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 30px;
    align-self: flex-start;
    background-color: #3EBA57;
}

header > button:hover{
    background-color: #48d564;
    transition: background-color .3s;
}

header > button > img{
    width: 20px;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
}

main > div#divLigas{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 80%;
    background-color: white;
    padding: 10px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

h2.tituloLigas{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #00B925;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.268);
    margin: 5px 10px;
}

div#divLigas > section.campeonatos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 10px 0px;
}

div#divLigas > section.campeonatos > div{
    display: flex;
    flex-flow: row wrap;
}


div#divLigas section.campeonatos button{
    cursor: pointer;
    width: 178px;
    padding: 30px 5px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 5px;
    flex:auto;
}

div#divLigas section.campeonatos button:hover{
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding: 33px 0px;
    transition: border .2s;
    transition: padding .5s;
}

.btn_background{
    background-position: center center;
    background-size: cover;
    color: #e4840f ;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.788);
}

.ocultar{
    display: none !important;
}

div.tabelaExibir{
    width: 90%;
}

div.tabelaExibir > table{
    position: relative;
    width: 100%;
    border-collapse: collapse;
}

div.tabelaExibir > table > thead{
    position: sticky;
    top: 0px;
}

div.tabelaExibir th{
    background-color: #20BA00;
    color: white;
}

div.tabelaExibir th, td{
    text-align: center;
    border: 1px solid #3EBA57;
    padding: 10px;
}

div.tabelaExibir td#tdImg{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.tabelaExibir td img{
    width: 25px;
}